<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="studio.rollinrock.mybatis3.repository.AssessScoreItemMapper">
  <resultMap id="BaseResultMap" type="studio.rollinrock.mybatis3.model.AssessScoreItem">
    <id column="id" property="id" />
    <result column="user_id" property="userId" />
    <result column="assess_period" property="assessPeriod" />
    <result column="reference_id" property="referenceId" />
    <result column="indicator" property="indicator" />
    <result column="scene" property="scene" />
    <result column="score" property="score" />
    <result column="remark" property="remark" />
    <result column="deleted" property="deleted" />
    <result column="create_time" property="createTime" />
    <result column="creator" property="creator" />
    <result column="update_time" property="updateTime" />
    <result column="updater" property="updater" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, assess_period, reference_id, indicator, scene, score, remark, deleted, 
    create_time, creator, update_time, updater
  </sql>
  <select id="selectByExample" parameterType="studio.rollinrock.mybatis3.model.AssessScoreItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from assess_score_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from assess_score_item
    where id = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from assess_score_item
    where id = #{id}
  </delete>
  <delete id="deleteByExample" parameterType="studio.rollinrock.mybatis3.model.AssessScoreItemExample">
    delete from assess_score_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="studio.rollinrock.mybatis3.model.AssessScoreItem">
    insert into assess_score_item (id, user_id, assess_period, 
      reference_id, indicator, scene, 
      score, remark, deleted, create_time, 
      creator, update_time, updater
      )
    values (#{id}, #{userId}, #{assessPeriod}, 
      #{referenceId}, #{indicator}, #{scene}, 
      #{score}, #{remark}, #{deleted}, #{createTime}, 
      #{creator}, #{updateTime}, #{updater}
      )
  </insert>
  <insert id="insertSelective" parameterType="studio.rollinrock.mybatis3.model.AssessScoreItem">
    insert into assess_score_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="assessPeriod != null">
        assess_period,
      </if>
      <if test="referenceId != null">
        reference_id,
      </if>
      <if test="indicator != null">
        indicator,
      </if>
      <if test="scene != null">
        scene,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updater != null">
        updater,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="userId != null">
        #{userId},
      </if>
      <if test="assessPeriod != null">
        #{assessPeriod},
      </if>
      <if test="referenceId != null">
        #{referenceId},
      </if>
      <if test="indicator != null">
        #{indicator},
      </if>
      <if test="scene != null">
        #{scene},
      </if>
      <if test="score != null">
        #{score},
      </if>
      <if test="remark != null">
        #{remark},
      </if>
      <if test="deleted != null">
        #{deleted},
      </if>
      <if test="createTime != null">
        #{createTime},
      </if>
      <if test="creator != null">
        #{creator},
      </if>
      <if test="updateTime != null">
        #{updateTime},
      </if>
      <if test="updater != null">
        #{updater},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="studio.rollinrock.mybatis3.model.AssessScoreItemExample" resultType="java.lang.Long">
    select count(*) from assess_score_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update assess_score_item
    <set>
      <if test="record.id != null">
        id = #{record.id},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId},
      </if>
      <if test="record.assessPeriod != null">
        assess_period = #{record.assessPeriod},
      </if>
      <if test="record.referenceId != null">
        reference_id = #{record.referenceId},
      </if>
      <if test="record.indicator != null">
        indicator = #{record.indicator},
      </if>
      <if test="record.scene != null">
        scene = #{record.scene},
      </if>
      <if test="record.score != null">
        score = #{record.score},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime},
      </if>
      <if test="record.creator != null">
        creator = #{record.creator},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime},
      </if>
      <if test="record.updater != null">
        updater = #{record.updater},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update assess_score_item
    set id = #{record.id},
      user_id = #{record.userId},
      assess_period = #{record.assessPeriod},
      reference_id = #{record.referenceId},
      indicator = #{record.indicator},
      scene = #{record.scene},
      score = #{record.score},
      remark = #{record.remark},
      deleted = #{record.deleted},
      create_time = #{record.createTime},
      creator = #{record.creator},
      update_time = #{record.updateTime},
      updater = #{record.updater}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="studio.rollinrock.mybatis3.model.AssessScoreItem">
    update assess_score_item
    <set>
      <if test="userId != null">
        user_id = #{userId},
      </if>
      <if test="assessPeriod != null">
        assess_period = #{assessPeriod},
      </if>
      <if test="referenceId != null">
        reference_id = #{referenceId},
      </if>
      <if test="indicator != null">
        indicator = #{indicator},
      </if>
      <if test="scene != null">
        scene = #{scene},
      </if>
      <if test="score != null">
        score = #{score},
      </if>
      <if test="remark != null">
        remark = #{remark},
      </if>
      <if test="deleted != null">
        deleted = #{deleted},
      </if>
      <if test="createTime != null">
        create_time = #{createTime},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime},
      </if>
      <if test="updater != null">
        updater = #{updater},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="studio.rollinrock.mybatis3.model.AssessScoreItem">
    update assess_score_item
    set user_id = #{userId},
      assess_period = #{assessPeriod},
      reference_id = #{referenceId},
      indicator = #{indicator},
      scene = #{scene},
      score = #{score},
      remark = #{remark},
      deleted = #{deleted},
      create_time = #{createTime},
      creator = #{creator},
      update_time = #{updateTime},
      updater = #{updater}
    where id = #{id}
  </update>
</mapper>